.title{
  font-size: 20px;
  font-weight: 700;
  /* font-family: var(--font-secondary); */
}
.title::after{
  content: "able }";
  margin-left: 0px;
  color: gray;
  /* font-family: var(--font-secondary); */
}
.title::before{
  content: "{";
  color: white;
  /* font-family: var(--font-secondary); */
}
body{
  background-color: black;
  color: white;
}
.header
{
  height: 70px;
}
.grid
{
  display: grid;
  grid-template-columns: 20% 80%;
  /* gap: 30px; */
  /* margin-block-end: 30px; */
}
.align-center
{
  align-items: center;
}